extends layout

block content
  .col-sm-12.col-md-6.offset-md-3
    .card
      if logout
        .alert.alert-success(role='alert') Logout completed!

      form.form-signin.text-center
        h1.h3.mb-3.font-weight-normal Please sign in
        button#login(type='button', class='btn btn-primary') Login
  
  script(src='javascripts/index.js', type='text/javascript')
