extends layout

block content
  div.input-group.mb-3
    div.input-group-prepend
      span.input-group-text #
    input#hashtag.form-control(type='text', placeholder='Hashtag')

  .row
    .col-sm-8
      #map
    .col-sm-4
      #tweets
  
  script(src='javascripts/map.js', type='text/javascript')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCBR3znMf2pEA8uJl9UsqxFvwPJQ9Z9_aI&callback=initMap', async, defer)
