extends layout

block content
  button#logout(type='button', class='btn btn-primary') Logout

  div.input-group.mb-3
    div.input-group-prepend
      span.input-group-text #
    input#hashtag.form-control(type='text', placeholder='Hashtag')

  #map-container
    #map

  #tweets
  
  script(src='javascripts/map.js', type='text/javascript')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCBR3znMf2pEA8uJl9UsqxFvwPJQ9Z9_aI&callback=initMap', async, defer)
